In [3]:
from snowflake.snowpark import Session
# Define - connection_parameters as mentioned in creating session 
session = Session.builder.configs(connection_parameters).create()

In [4]:
session.sql('CREATE OR REPLACE TABLE sample_product_data (id INT, parent_id INT, category_id INT, name VARCHAR, serial_number VARCHAR, key INT, "3rd" INT)').collect()

[Row(status='Table SAMPLE_PRODUCT_DATA successfully created.')]

In [5]:

session.sql("""
INSERT INTO sample_product_data VALUES
(1, 0, 5, 'Product 1', 'prod-1', 1, 10),
(2, 1, 5, 'Product 1A', 'prod-1-A', 1, 20),
(3, 1, 5, 'Product 1B', 'prod-1-B', 1, 30),
(4, 0, 10, 'Product 2', 'prod-2', 2, 40),
(5, 4, 10, 'Product 2A', 'prod-2-A', 2, 50),
(6, 4, 10, 'Product 2B', 'prod-2-B', 2, 60),
(7, 0, 20, 'Product 3', 'prod-3', 3, 70),
(8, 7, 20, 'Product 3A', 'prod-3-A', 3, 80),
(9, 7, 20, 'Product 3B', 'prod-3-B', 3, 90),
(10, 0, 50, 'Product 4', 'prod-4', 4, 100),
(11, 10, 50, 'Product 4A', 'prod-4-A', 4, 100),
(12, 10, 50, 'Product 4B', 'prod-4-B', 4, 100)
 """).collect()

[Row(number of rows inserted=12)]

In [8]:
session.sql("SELECT count(*) FROM sample_product_data").collect()

[Row(COUNT(*)=12)]

In [32]:
# create a DataFrame - from data in a table, view, or stream, call the table method
df_table = session.table("sample_product_data")

In [33]:
df_table.show()

-------------------------------------------------------------------------------------
|"ID"  |"PARENT_ID"  |"CATEGORY_ID"  |"NAME"      |"SERIAL_NUMBER"  |"KEY"  |"3rd"  |
-------------------------------------------------------------------------------------
|1     |0            |5              |Product 1   |prod-1           |1      |10     |
|2     |1            |5              |Product 1A  |prod-1-A         |1      |20     |
|3     |1            |5              |Product 1B  |prod-1-B         |1      |30     |
|4     |0            |10             |Product 2   |prod-2           |2      |40     |
|5     |4            |10             |Product 2A  |prod-2-A         |2      |50     |
|6     |4            |10             |Product 2B  |prod-2-B         |2      |60     |
|7     |0            |20             |Product 3   |prod-3           |3      |70     |
|8     |7            |20             |Product 3A  |prod-3-A         |3      |80     |
|9     |7            |20             |Product 3B  |prod-3-B         |3      |90     |
|10    |0            |50             |Product 4   |prod-4           |4      |100    |
-------------------------------------------------------------------------------------

In [10]:
# Create df from specific value
df = session.create_dataframe([1,2,3,4]).to_df("a")
df.show()

-------
|"A"  |
-------
|1    |
|2    |
|3    |
|4    |
-------

In [15]:
# Create a DataFrame with 4 columns, “a”, “b”, “c” and “d”:
df = session.create_dataframe([[1,2,3,4]],schema=["a", "b", "c", "d"])
df.show()

-------------------------
|"A"  |"B"  |"C"  |"D"  |
-------------------------
|1    |2    |3    |4    |
-------------------------

In [16]:
# Create another DataFrame with 4 columns, “a”, “b”, “c” and “d”:
from snowflake.snowpark import Row
df = session.create_dataframe([Row(a=1, b=2, c=3, d=4)])
df.show()

-------------------------
|"A"  |"B"  |"C"  |"D"  |
-------------------------
|1    |2    |3    |4    |
-------------------------

In [19]:
# Create a DataFrame and specify a schema:
from snowflake.snowpark.types import IntegerType, StringType, StructType, StructField
schema = StructType(
    [
        StructField("a",IntegerType()),
        StructField("b",StringType()),
        StructField("c",StringType())
    ]
)
df = session.create_dataframe([[1,"snow","flake"],[2, "AWS","Cloud"]],schema)
df.show()

----------------------
|"A"  |"B"   |"C"    |
----------------------
|1    |snow  |flake  |
|2    |AWS   |Cloud  |
----------------------

In [23]:
# To create a DataFrame containing a range of values
df = session.range(1,10,3).to_df("a") # increment by 3
df.show()

-------
|"A"  |
-------
|1    |
|4    |
|7    |
-------

In [25]:
# To create a DataFrame to hold the data from a file in a stage, use the read property to get a DataFrameReader object. 
# In the DataFrameReader object, call the method corresponding to the format of the data in the file:
df = session.read.json("@json_input_tb/random_json_file.json")
df.show()

------------------------------------------------------
|"$1"                                                |
------------------------------------------------------
|[                                                   |
|  {                                                 |
|    "_id": "65d8f0f28b486933b8e84db9",              |
|    "about": "Id dolore id exercitation pariatu...  |
|    "address": "354 Railroad Avenue, Westmorela...  |
|    "age": 27,                                      |
|    "balance": "$2,128.87",                         |
|    "company": "FURNAFIX",                          |
|    "email": "joanneblevins@furnafix.com",          |
|    "eyeColor": "brown",                            |
|    "favoriteFruit": "strawberry",                  |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "Beck Cantrell"                     |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Josefa Meadows"                    |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Veronica Rosales"                  |
|      }                                             |
|    ],                                              |
|    "gender": "female",                             |
|    "greeting": "Hello, Joanne Blevins! You hav...  |
|    "guid": "d5932003-16f9-44e1-9373-afa809469c...  |
|    "index": 0,                                     |
|    "isActive": false,                              |
|    "latitude": 65.082585,                          |
|    "longitude": -154.302164,                       |
|    "name": "Joanne Blevins",                       |
|    "phone": "+1 (845) 543-3414",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2022-01-04T12:07:41 -06:-30",    |
|    "tags": [                                       |
|      "pariatur",                                   |
|      "fugiat",                                     |
|      "duis",                                       |
|      "ad",                                         |
|      "magna",                                      |
|      "minim",                                      |
|      "esse"                                        |
|    ]                                               |
|  },                                                |
|  {                                                 |
|    "_id": "65d8f0f20c41d423c855ec7d",              |
|    "about": "Mollit ex proident commodo occaec...  |
|    "address": "233 Cedar Street, Grazierville,...  |
|    "age": 37,                                      |
|    "balance": "$2,663.32",                         |
|    "company": "NORALEX",                           |
|    "email": "elmajennings@noralex.com",            |
|    "eyeColor": "green",                            |
|    "favoriteFruit": "apple",                       |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "John Valentine"                    |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Haynes Reyes"                      |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Eaton Larson"                      |
|      }                                             |
|    ],                                              |
|    "gender": "female",                             |
|    "greeting": "Hello, Elma Jennings! You have...  |
|    "guid": "8c4bec66-a8ae-45ca-a22a-5880a9e394...  |
|    "index": 1,                                     |
|    "isActive": false,                              |
|    "latitude": 52.461304,                          |
|    "longitude": -145.645799,                       |
|    "name": "Elma Jennings",                        |
|    "phone": "+1 (863) 484-2583",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2015-05-08T01:02:10 -06:-30",    |
|    "tags": [                                       |
|      "do",                                         |
|      "ea",                                         |
|      "sint",                                       |
|      "sit",                                        |
|      "amet",                                       |
|      "pariatur",                                   |
|      "aliquip"                                     |
|    ]                                               |
|  },                                                |
|  {                                                 |
|    "_id": "65d8f0f24483b991481bb7db",              |
|    "about": "Ex pariatur laborum incididunt au...  |
|    "address": "555 Banner Avenue, Lydia, Vermo...  |
|    "age": 27,                                      |
|    "balance": "$2,322.21",                         |
|    "company": "ECOSYS",                            |
|    "email": "huntcraig@ecosys.com",                |
|    "eyeColor": "blue",                             |
|    "favoriteFruit": "banana",                      |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "Marsh Wheeler"                     |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Ware Fry"                          |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Carver Moon"                       |
|      }                                             |
|    ],                                              |
|    "gender": "male",                               |
|    "greeting": "Hello, Hunt Craig! You have 7 ...  |
|    "guid": "1c26c848-6054-4ca1-baa2-a5a5ff5c94...  |
|    "index": 2,                                     |
|    "isActive": true,                               |
|    "latitude": 49.121822,                          |
|    "longitude": 11.798094,                         |
|    "name": "Hunt Craig",                           |
|    "phone": "+1 (954) 564-3598",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2021-12-13T09:16:52 -06:-30",    |
|    "tags": [                                       |
|      "culpa",                                      |
|      "ex",                                         |
|      "mollit",                                     |
|      "reprehenderit",                              |
|      "veniam",                                     |
|      "nulla",                                      |
|      "officia"                                     |
|    ]                                               |
|  },                                                |
|  {                                                 |
|    "_id": "65d8f0f2842e0adfbac2b1b3",              |
|    "about": "Aliqua Lorem do deserunt Lorem al...  |
|    "address": "211 Franklin Street, Elizaville...  |
|    "age": 30,                                      |
|    "balance": "$2,860.17",                         |
|    "company": "ARCTIQ",                            |
|    "email": "nitaglass@arctiq.com",                |
|    "eyeColor": "blue",                             |
|    "favoriteFruit": "apple",                       |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "Eula Rollins"                      |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Simpson Oneill"                    |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Giles Vasquez"                     |
|      }                                             |
|    ],                                              |
|    "gender": "female",                             |
|    "greeting": "Hello, Nita Glass! You have 4 ...  |
|    "guid": "fb7e9947-9368-4d2a-bb9d-8cb6037d19...  |
|    "index": 3,                                     |
|    "isActive": true,                               |
|    "latitude": -23.504775,                         |
|    "longitude": -172.651492,                       |
|    "name": "Nita Glass",                           |
|    "phone": "+1 (958) 584-3044",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2023-07-08T10:58:34 -06:-30",    |
|    "tags": [                                       |
|      "culpa",                                      |
|      "officia",                                    |
|      "non",                                        |
|      "ad",                                         |
|      "irure",                                      |
|      "eu",                                         |
|      "cupidatat"                                   |
|    ]                                               |
|  },                                                |
|  {                                                 |
|    "_id": "65d8f0f265193d45650e9be3",              |
|    "about": "Aliqua voluptate ad aliquip quis ...  |
|    "address": "393 Hale Avenue, Shawmut, Misso...  |
|    "age": 35,                                      |
|    "balance": "$3,748.32",                         |
|    "company": "RODEOLOGY",                         |
|    "email": "susielara@rodeology.com",             |
|    "eyeColor": "brown",                            |
|    "favoriteFruit": "apple",                       |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "Tamra Marsh"                       |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Katharine Bradshaw"                |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Frank Hayes"                       |
|      }                                             |
|    ],                                              |
|    "gender": "female",                             |
|    "greeting": "Hello, Susie Lara! You have 4 ...  |
|    "guid": "f369faa4-b85e-48c2-93bb-4e8af9fc14...  |
|    "index": 4,                                     |
|    "isActive": false,                              |
|    "latitude": 17.673098,                          |
|    "longitude": -88.441833,                        |
|    "name": "Susie Lara",                           |
|    "phone": "+1 (828) 510-2369",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2016-03-16T10:19:35 -06:-30",    |
|    "tags": [                                       |
|      "culpa",                                      |
|      "tempor",                                     |
|      "exercitation",                               |
|      "consectetur",                                |
|      "quis",                                       |
|      "duis",                                       |
|      "adipisicing"                                 |
|    ]                                               |
|  },                                                |
|  {                                                 |
|    "_id": "65d8f0f28241e485a456fb49",              |
|    "about": "Sint sit officia sit duis amet de...  |
|    "address": "757 Hooper Street, Elbert, Sout...  |
|    "age": 28,                                      |
|    "balance": "$2,890.51",                         |
|    "company": "EVEREST",                           |
|    "email": "wardcolon@everest.com",               |
|    "eyeColor": "green",                            |
|    "favoriteFruit": "strawberry",                  |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "Tabitha Yang"                      |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Sharpe Allison"                    |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Bridgette Chapman"                 |
|      }                                             |
|    ],                                              |
|    "gender": "male",                               |
|    "greeting": "Hello, Ward Colon! You have 10...  |
|    "guid": "90bae378-9f89-426a-b846-12f4dd3b64...  |
|    "index": 5,                                     |
|    "isActive": true,                               |
|    "latitude": 73.790872,                          |
|    "longitude": 78.644868,                         |
|    "name": "Ward Colon",                           |
|    "phone": "+1 (860) 562-2959",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2017-12-01T09:26:41 -06:-30",    |
|    "tags": [                                       |
|      "est",                                        |
|      "minim",                                      |
|      "non",                                        |
|      "minim",                                      |
|      "velit",                                      |
|      "culpa",                                      |
|      "dolore"                                      |
|    ]                                               |
|  },                                                |
|  {                                                 |
|    "_id": "65d8f0f212aed9d67377e43f",              |
|    "about": "Veniam enim fugiat ut duis laboru...  |
|    "address": "932 Ridgewood Place, Logan, Ame...  |
|    "age": 36,                                      |
|    "balance": "$3,779.16",                         |
|    "company": "RETRACK",                           |
|    "email": "jeniferbenjamin@retrack.com",         |
|    "eyeColor": "brown",                            |
|    "favoriteFruit": "apple",                       |
|    "friends": [                                    |
|      {                                             |
|        "id": 0,                                    |
|        "name": "Jayne Callahan"                    |
|      },                                            |
|      {                                             |
|        "id": 1,                                    |
|        "name": "Guzman Jarvis"                     |
|      },                                            |
|      {                                             |
|        "id": 2,                                    |
|        "name": "Heath Dale"                        |
|      }                                             |
|    ],                                              |
|    "gender": "female",                             |
|    "greeting": "Hello, Jenifer Benjamin! You h...  |
|    "guid": "95561803-d391-49a0-9e8e-65ac43331e...  |
|    "index": 6,                                     |
|    "isActive": true,                               |
|    "latitude": -31.417172,                         |
|    "longitude": 33.25584,                          |
|    "name": "Jenifer Benjamin",                     |
|    "phone": "+1 (889) 567-2447",                   |
|    "picture": "http://placehold.it/32x32",         |
|    "registered": "2019-04-22T09:11:50 -06:-30",    |
|    "tags": [                                       |
|      "incididunt",                                 |
|      "mollit",                                     |
|      "ut",                                         |
|      "labore",                                     |
|      "amet",                                       |
|      "magna",                                      |
|      "mollit"                                      |
|    ]                                               |
|  }                                                 |
|]                                                   |
------------------------------------------------------

In [30]:
#Set schema is mandatory
schema = StructType(
    [
        StructField("a",StringType()),
        StructField("b", StringType())
    ]
)
df = session.read.schema(schema).csv("@sample_data_stage/")
df.show()

---------------
|"A"   |"B"   |
---------------
|Rank  |CCA3  |
|36    |AFG   |
|138   |ALB   |
|34    |DZA   |
|213   |ASM   |
|203   |AND   |
|42    |AGO   |
|224   |AIA   |
|201   |ATG   |
|33    |ARG   |
---------------

In [31]:
# Create a DataFrame from a SQL query
df = session.sql("select name from sample_product_data")
df.show()

--------------
|"NAME"      |
--------------
|Product 1   |
|Product 1A  |
|Product 1B  |
|Product 2   |
|Product 2A  |
|Product 2B  |
|Product 3   |
|Product 3A  |
|Product 3B  |
|Product 4   |
--------------

In [ ]:
#I t is possible to use the sql method to execute SELECT statements that retrieve data from tables and staged files. 
# However using the table method and read property offer better syntax highlighting, error highlighting.

In [35]:
session.close()